/* File: automatic-variables.css - Version: 3.3.6 - Generated: 2025-11-11 13:44:47 */
:root, .color-scheme--main {
  --primary-hex: #714c4c;
  --primary-hsl: 0 20% 37%;
  --primary-rgb: 113 76 76;
  --primary-r: 113;
  --primary-g: 76;
  --primary-b: 76;
  --primary-h: 0;
  --primary-s: 20%;
  --primary-l: 37%;
  --primary-hover-h: 0;
  --primary-hover-s: 20%;
  --primary-hover-l: 43%;
  --primary-ultra-light-h: 0;
  --primary-ultra-light-s: 20%;
  --primary-ultra-light-l: 95%;
  --primary-light-h: 0;
  --primary-light-s: 20%;
  --primary-light-l: 85%;
  --primary-semi-light-h: 0;
  --primary-semi-light-s: 20%;
  --primary-semi-light-l: 65%;
  --primary-semi-dark-h: 0;
  --primary-semi-dark-s: 20%;
  --primary-semi-dark-l: 35%;
  --primary-dark-h: 0;
  --primary-dark-s: 20%;
  --primary-dark-l: 25%;
  --primary-ultra-dark-h: 0;
  --primary-ultra-dark-s: 20%;
  --primary-ultra-dark-l: 10%;
  --neutral-hex: #f1ede5;
  --neutral-hsl: 40 30% 92%;
  --neutral-rgb: 241 237 229;
  --neutral-r: 241;
  --neutral-g: 237;
  --neutral-b: 229;
  --neutral-h: 40;
  --neutral-s: 30%;
  --neutral-l: 92%;
  --neutral-hover-h: 40;
  --neutral-hover-s: 30%;
  --neutral-hover-l: 100%;
  --neutral-ultra-light-h: 40;
  --neutral-ultra-light-s: 30%;
  --neutral-ultra-light-l: 95%;
  --neutral-light-h: 40;
  --neutral-light-s: 30%;
  --neutral-light-l: 85%;
  --neutral-semi-light-h: 40;
  --neutral-semi-light-s: 30%;
  --neutral-semi-light-l: 65%;
  --neutral-semi-dark-h: 40;
  --neutral-semi-dark-s: 30%;
  --neutral-semi-dark-l: 35%;
  --neutral-dark-h: 40;
  --neutral-dark-s: 30%;
  --neutral-dark-l: 25%;
  --neutral-ultra-dark-h: 40;
  --neutral-ultra-dark-s: 30%;
  --neutral-ultra-dark-l: 10%;
  --primary: #714c4c;
  --primary-hover: #845858;
  --primary-ultra-light: #f5f0f0;
  --primary-light: #e0d1d1;
  --primary-semi-light: #b89494;
  --primary-semi-dark: #6b4747;
  --primary-dark: #4d3333;
  --primary-ultra-dark: #1f1414;
  --neutral: #f1ede5;
  --neutral-hover: white;
  --neutral-ultra-light: #f6f4ee;
  --neutral-light: #e4ddcd;
  --neutral-semi-light: #c1af8b;
  --neutral-semi-dark: #74623e;
  --neutral-dark: #53462d;
  --neutral-ultra-dark: #211c12;
  --white: #fff;
  --black: #000;
  --primary-trans-10: rgba(113, 76, 76, 0.1);
  --primary-trans-20: rgba(113, 76, 76, 0.2);
  --primary-trans-30: rgba(113, 76, 76, 0.3);
  --primary-trans-40: rgba(113, 76, 76, 0.4);
  --primary-trans-50: rgba(113, 76, 76, 0.5);
  --primary-trans-60: rgba(113, 76, 76, 0.6);
  --primary-trans-70: rgba(113, 76, 76, 0.7);
  --primary-trans-80: rgba(113, 76, 76, 0.8);
  --primary-trans-90: rgba(113, 76, 76, 0.9);
  --primary-light-trans-10: rgba(224, 209, 209, 0.1);
  --primary-light-trans-20: rgba(224, 209, 209, 0.2);
  --primary-light-trans-30: rgba(224, 209, 209, 0.3);
  --primary-light-trans-40: rgba(224, 209, 209, 0.4);
  --primary-light-trans-50: rgba(224, 209, 209, 0.5);
  --primary-light-trans-60: rgba(224, 209, 209, 0.6);
  --primary-light-trans-70: rgba(224, 209, 209, 0.7);
  --primary-light-trans-80: rgba(224, 209, 209, 0.8);
  --primary-light-trans-90: rgba(224, 209, 209, 0.9);
  --primary-dark-trans-10: rgba(77, 51, 51, 0.1);
  --primary-dark-trans-20: rgba(77, 51, 51, 0.2);
  --primary-dark-trans-30: rgba(77, 51, 51, 0.3);
  --primary-dark-trans-40: rgba(77, 51, 51, 0.4);
  --primary-dark-trans-50: rgba(77, 51, 51, 0.5);
  --primary-dark-trans-60: rgba(77, 51, 51, 0.6);
  --primary-dark-trans-70: rgba(77, 51, 51, 0.7);
  --primary-dark-trans-80: rgba(77, 51, 51, 0.8);
  --primary-dark-trans-90: rgba(77, 51, 51, 0.9);
  --primary-ultra-dark-trans-10: rgba(31, 20, 20, 0.1);
  --primary-ultra-dark-trans-20: rgba(31, 20, 20, 0.2);
  --primary-ultra-dark-trans-30: rgba(31, 20, 20, 0.3);
  --primary-ultra-dark-trans-40: rgba(31, 20, 20, 0.4);
  --primary-ultra-dark-trans-50: rgba(31, 20, 20, 0.5);
  --primary-ultra-dark-trans-60: rgba(31, 20, 20, 0.6);
  --primary-ultra-dark-trans-70: rgba(31, 20, 20, 0.7);
  --primary-ultra-dark-trans-80: rgba(31, 20, 20, 0.8);
  --primary-ultra-dark-trans-90: rgba(31, 20, 20, 0.9);
  --neutral-trans-10: rgba(241, 237, 229, 0.1);
  --neutral-trans-20: rgba(241, 237, 229, 0.2);
  --neutral-trans-30: rgba(241, 237, 229, 0.3);
  --neutral-trans-40: rgba(241, 237, 229, 0.4);
  --neutral-trans-50: rgba(241, 237, 229, 0.5);
  --neutral-trans-60: rgba(241, 237, 229, 0.6);
  --neutral-trans-70: rgba(241, 237, 229, 0.7);
  --neutral-trans-80: rgba(241, 237, 229, 0.8);
  --neutral-trans-90: rgba(241, 237, 229, 0.9);
  --neutral-light-trans-10: rgba(228, 221, 205, 0.1);
  --neutral-light-trans-20: rgba(228, 221, 205, 0.2);
  --neutral-light-trans-30: rgba(228, 221, 205, 0.3);
  --neutral-light-trans-40: rgba(228, 221, 205, 0.4);
  --neutral-light-trans-50: rgba(228, 221, 205, 0.5);
  --neutral-light-trans-60: rgba(228, 221, 205, 0.6);
  --neutral-light-trans-70: rgba(228, 221, 205, 0.7);
  --neutral-light-trans-80: rgba(228, 221, 205, 0.8);
  --neutral-light-trans-90: rgba(228, 221, 205, 0.9);
  --neutral-dark-trans-10: rgba(83, 70, 45, 0.1);
  --neutral-dark-trans-20: rgba(83, 70, 45, 0.2);
  --neutral-dark-trans-30: rgba(83, 70, 45, 0.3);
  --neutral-dark-trans-40: rgba(83, 70, 45, 0.4);
  --neutral-dark-trans-50: rgba(83, 70, 45, 0.5);
  --neutral-dark-trans-60: rgba(83, 70, 45, 0.6);
  --neutral-dark-trans-70: rgba(83, 70, 45, 0.7);
  --neutral-dark-trans-80: rgba(83, 70, 45, 0.8);
  --neutral-dark-trans-90: rgba(83, 70, 45, 0.9);
  --neutral-ultra-dark-trans-10: rgba(33, 28, 18, 0.1);
  --neutral-ultra-dark-trans-20: rgba(33, 28, 18, 0.2);
  --neutral-ultra-dark-trans-30: rgba(33, 28, 18, 0.3);
  --neutral-ultra-dark-trans-40: rgba(33, 28, 18, 0.4);
  --neutral-ultra-dark-trans-50: rgba(33, 28, 18, 0.5);
  --neutral-ultra-dark-trans-60: rgba(33, 28, 18, 0.6);
  --neutral-ultra-dark-trans-70: rgba(33, 28, 18, 0.7);
  --neutral-ultra-dark-trans-80: rgba(33, 28, 18, 0.8);
  --neutral-ultra-dark-trans-90: rgba(33, 28, 18, 0.9);
  --white-trans-10: rgba(255, 255, 255, 0.1);
  --white-trans-20: rgba(255, 255, 255, 0.2);
  --white-trans-30: rgba(255, 255, 255, 0.3);
  --white-trans-40: rgba(255, 255, 255, 0.4);
  --white-trans-50: rgba(255, 255, 255, 0.5);
  --white-trans-60: rgba(255, 255, 255, 0.6);
  --white-trans-70: rgba(255, 255, 255, 0.7);
  --white-trans-80: rgba(255, 255, 255, 0.8);
  --white-trans-90: rgba(255, 255, 255, 0.9);
  --black-trans-10: rgba(0, 0, 0, 0.1);
  --black-trans-20: rgba(0, 0, 0, 0.2);
  --black-trans-30: rgba(0, 0, 0, 0.3);
  --black-trans-40: rgba(0, 0, 0, 0.4);
  --black-trans-50: rgba(0, 0, 0, 0.5);
  --black-trans-60: rgba(0, 0, 0, 0.6);
  --black-trans-70: rgba(0, 0, 0, 0.7);
  --black-trans-80: rgba(0, 0, 0, 0.8);
  --black-trans-90: rgba(0, 0, 0, 0.9);
  --shade-white: #fff;
  --shade-black: #000;
  --bg-ultra-light: var(--neutral-ultra-light);
  --bg-light: var(--neutral-light);
  --bg-dark: var(--neutral-dark);
  --bg-ultra-dark: var(--neutral-ultra-dark);
  --text-light: var(--white);
  --text-light-muted: var(--white-trans-80);
  --text-dark: #714c4c;
  --text-dark-muted: var(--black-trans-80);
  --body-bg-color: var(--bg-ultra-light);
  --body-color: var(--text-dark);
}
:root {
  --on: initial;
  --off: ;
  --section-padding-x: 1.25rem;
  --section-padding-block: var(--section-space-m);
  --section-gutter: 1.25rem;
  --gutter: 1.25rem;
  --text-xs: 1.26rem;
  --text-s: 1.42rem;
  --text-m: 1.8rem;
  --text-l: 2.025rem;
  --text-xl: 2.28rem;
  --text-xxl: 2.565rem;
  --root-font-size: 100%;
  --h6: 1.26rem;
  --h5: 1.42rem;
  --h4: 1.8rem;
  --h3: 2.025rem;
  --h2: 2.28rem;
  --h1: 2.565rem;
  --space-xs: 1.896rem;
  --space-s: 2.133rem;
  --space-m: 2.4rem;
  --space-l: 2.7rem;
  --space-xl: 3.038rem;
  --space-xxl: 3.42rem;
  --section-space-xs: 3.84rem;
  --section-space-s: 4.8rem;
  --section-space-m: 6rem;
  --section-space-l: 7.5rem;
  --section-space-xl: 9.375rem;
  --section-space-xxl: 11.719rem;
  --content-width: 85.375rem;
  --content-width-safe: min(var(--content-width), calc(100% - var(--gutter) * 2));
  --width-xs: calc(var(--content-width) * 0.1);
  --width-s: calc(var(--content-width) * 0.2);
  --width-m: calc(var(--content-width) * 0.4);
  --width-l: calc(var(--content-width) * 0.6);
  --width-xl: calc(var(--content-width) * 0.8);
  --width-xxl: calc(var(--content-width) * 0.9);
  --width-vp-max: calc(var(--content-width) * 1);
  --width-content: calc(var(--content-width) * 1);
  --width-full: calc(var(--content-width) * 100%);
  --width-10: calc(var(--content-width) * 0.1);
  --width-20: calc(var(--content-width) * 0.2);
  --width-30: calc(var(--content-width) * 0.3);
  --width-40: calc(var(--content-width) * 0.4);
  --width-50: calc(var(--content-width) * 0.5);
  --width-60: calc(var(--content-width) * 0.6);
  --width-70: calc(var(--content-width) * 0.7);
  --width-80: calc(var(--content-width) * 0.8);
  --width-90: calc(var(--content-width) * 0.9);
  --focus-color: var(--primary);
  --focus-width: 2px;
  --focus-offset: 2px;
  --box-shadow-m: 0 0 40px var(--black-trans-10);
  --box-shadow-l: 0 0 60px var(--black-trans-20);
  --box-shadow-xl: 0 0 80px var(--black-trans-30);
  --box-shadow-1: 0 0 40px var(--black-trans-10);
  --box-shadow-2: 0 0 60px var(--black-trans-20);
  --box-shadow-3: 0 0 80px var(--black-trans-30);
  --admin-bar-height: var(--wp-admin--admin-bar--height, 0px);
  --text-xxl-max-width: 100%;
  --text-xl-max-width: 100%;
  --text-l-max-width: 100%;
  --text-m-line-height: calc(6px + 2ex);
  --text-m-max-width: 100%;
  --text-s-max-width: 100%;
  --text-xs-max-width: 100%;
  --base-text-lh: calc(6px + 2ex);
  --heading-font-family: Calligraffitti;
  --heading-line-height: calc(4px + 2ex);
  --heading-font-weight: 700;
  --heading-text-wrap: pretty;
  --base-heading-lh: calc(4px + 2ex);
  --h1-max-width: 100%;
  --h2-max-width: 100%;
  --h3-max-width: 100%;
  --h4-line-height: calc(4px + 2ex);
  --h4-max-width: 100%;
  --h5-max-width: 100%;
  --h6-max-width: 100%;
  --text-font-family: Rajdhani;
  --text-color: var(--text-dark);
  --text-line-height: calc(6px + 2ex);
  --text-font-weight: 400;
  --text-text-wrap: pretty;
}
:root {
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-1-2: minmax(0, 1fr) minmax(0, 2fr);
  --grid-1-3: minmax(0, 1fr) minmax(0, 3fr);
  --grid-2-1: minmax(0, 2fr) minmax(0, 1fr);
  --grid-2-3: minmax(0, 2fr) minmax(0, 3fr);
  --grid-3-1: minmax(0, 3fr) minmax(0, 1fr);
  --grid-3-2: minmax(0, 3fr) minmax(0, 2fr);
}
:root {
  --grid-auto-2: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((2 - 1) * var(--grid-gap))) / 2) * 0.7, (100% - (2 - 1) * var(--grid-gap)) / 2)), 1fr));
  --grid-auto-3: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((3 - 1) * var(--grid-gap))) / 3) * 0.7, (100% - (3 - 1) * var(--grid-gap)) / 3)), 1fr));
  --grid-auto-4: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((4 - 1) * var(--grid-gap))) / 4) * 0.7, (100% - (4 - 1) * var(--grid-gap)) / 4)), 1fr));
  --grid-auto-5: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((5 - 1) * var(--grid-gap))) / 5) * 0.7, (100% - (5 - 1) * var(--grid-gap)) / 5)), 1fr));
  --grid-auto-6: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((6 - 1) * var(--grid-gap))) / 6) * 0.7, (100% - (6 - 1) * var(--grid-gap)) / 6)), 1fr));
  --grid-auto-7: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((7 - 1) * var(--grid-gap))) / 7) * 0.7, (100% - (7 - 1) * var(--grid-gap)) / 7)), 1fr));
  --grid-auto-8: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((8 - 1) * var(--grid-gap))) / 8) * 0.7, (100% - (8 - 1) * var(--grid-gap)) / 8)), 1fr));
  --grid-auto-9: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((9 - 1) * var(--grid-gap))) / 9) * 0.7, (100% - (9 - 1) * var(--grid-gap)) / 9)), 1fr));
  --grid-auto-10: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((10 - 1) * var(--grid-gap))) / 10) * 0.7, (100% - (10 - 1) * var(--grid-gap)) / 10)), 1fr));
  --grid-auto-11: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((11 - 1) * var(--grid-gap))) / 11) * 0.7, (100% - (11 - 1) * var(--grid-gap)) / 11)), 1fr));
  --grid-auto-12: repeat(auto-fit, minmax(min(100%, max(calc((var(--content-width) - ((12 - 1) * var(--grid-gap))) / 12) * 0.7, (100% - (12 - 1) * var(--grid-gap)) / 12)), 1fr));
  --auto-grid-aggressiveness: 0.7;
}
:root {
  --header-height: 5.663125rem;
  --header-height-xl: 5.75rem;
  --header-height-l: 5.281875rem;
  --header-height-m: 4.975625rem;
  --header-height-s: 4.904375rem;
}
@media (max-width: 1366px) {
  :root {
    --header-height: var(--header-height-xl);
  }
}
@media (max-width: 992px) {
  :root {
    --header-height: var(--header-height-l);
  }
}
@media (max-width: 768px) {
  :root {
    --header-height: var(--header-height-m);
  }
}
@media (max-width: 480px) {
  :root {
    --header-height: var(--header-height-s);
  }
}
:root {
  --offset: 5.663125rem;
  --offset-xl: 5.75rem;
  --offset-l: 5.281875rem;
  --offset-m: 4.975625rem;
  --offset-s: 4.904375rem;
}
@media (max-width: 1366px) {
  :root {
    --offset: var(--offset-xl);
  }
}
@media (max-width: 992px) {
  :root {
    --offset: var(--offset-l);
  }
}
@media (max-width: 768px) {
  :root {
    --offset: var(--offset-m);
  }
}
@media (max-width: 480px) {
  :root {
    --offset: var(--offset-s);
  }
}
:root {
  --paragraph-spacing: 1em;
  --heading-spacing: 1.2em;
  --list-spacing: var(--paragraph-spacing);
  --list-indent-spacing: 2em;
  --list-item-spacing: 0.5em;
  --nested-list-indent-spacing: 1em;
  --flow-spacing: var(--paragraph-spacing);
  --figure-spacing: var(--paragraph-spacing);
  --figcaption-spacing: 0.5em;
  --blockquote-spacing: var(--paragraph-spacing);
}
:root {
  --option-primary-btn-outline: on;
  --option-secondary-btn-outline: on;
  --option-neutral-btn-outline: on;
  --btn-padding-block: 0.5em;
  --btn-padding-inline: 1.25em;
  --btn-min-width: 8.75rem;
  --btn-line-height: 1;
  --btn-font-weight: 400;
  --btn-font-style: normal;
  --btn-text-decoration: none;
  --btn-text-decoration-hover: none;
  --btn-letter-spacing: 0;
  --btn-text-transform: none;
  --btn-border-width: 2px;
  --btn-outline-border-width: 2px;
  --btn-border-style: solid;
  --btn-border-radius: var(--radius);
  --btn-justify-content: center;
  --btn-text-align: center;
}
/* Deprecated in ACSS 2.7 */
:root {
  --btn-border-size: 2px;
  --btn-radius: var(--radius);
  --outline-btn-border-size: 2px;
  --btn-pad-x: 1.25em;
  --btn-pad-y: 0.5em;
  --btn-text-style: normal;
  --btn-weight: 400;
  --btn-width: 8.75;
}
:root {
  --link-color: var(--primary);
  --link-color-hover: var(--primary-hover);
  --link-transition: var(--transition);
  --link-decoration: inherit;
  --link-decoration-hover: inherit;
  --link-underline-offset: auto;
  --link-weight: inherit;
}
:root {
  --col-width-s: 13rem;
  --col-width-m: 25rem;
  --col-width-l: 38rem;
  --col-rule-width-s: 0.5px;
  --col-rule-width-m: 1px;
  --col-rule-width-l: 3px;
}
:root {
  --sticky-s: 2.5%;
  --sticky-m: 5%;
  --sticky-l: 10%;
}
:root {
  --content-gap: var(--space-m);
  --fr-content-gap: var(--space-m);
  --container-gap: var(--space-xl);
  --fr-container-gap: var(--space-xl);
  --grid-gap: var(--space-m);
  --fr-grid-gap: var(--space-m);
  --bg-ultra-light-text: var(--text-dark);
  --bg-light-text: var(--text-dark);
  --bg-dark-text: var(--text-light);
  --bg-ultra-dark-text: var(--text-light);
  --bg-ultra-light-heading: var(--text-dark);
  --bg-light-heading: var(--text-dark);
  --bg-dark-heading: var(--text-light);
  --bg-ultra-dark-heading: var(--text-light);
  --bg-ultra-light-link: var(--text-dark);
  --bg-light-link: var(--text-dark);
  --bg-dark-link: var(--text-light);
  --bg-ultra-dark-link: var(--text-light);
  --bg-ultra-light-button: primary;
  --bg-light-button: primary;
  --bg-dark-button: primary;
  --bg-ultra-dark-button: primary;
}
:root {
  --radius: 5px;
  --radius-50: 50%;
  --radius-circle: 50vw;
  --radius-none: 0;
  --radius-xs: 2.2222222222px;
  --radius-s: 3.3333333333px;
  --radius-m: 5px;
  --radius-l: 7.5px;
  --radius-xl: 11.25px;
  --radius-xxl: 16.875px;
  --border-size: 1px;
  --border-width: 1px;
  --border-style: solid;
  --border-color-dark: var(--black-trans-20);
  --border-color-light: var(--white-trans-20);
  --border: var(--border-size) var(--border-style) var(--border-color-dark);
  --border-light: var(--border-size) var(--border-style) var(--border-color-light);
  --border-dark: var(--border-size) var(--border-style) var(--border-color-dark);
}
:root {
  --divider-size: 1px;
  --divider-style: solid;
  --divider-inline-size: 100%;
  --divider-gap: var(--content-gap);
  --divider-color-dark: var(--black-trans-20);
  --divider-color-light: var(--white-trans-20);
  --divider: var(--divider-size) var(--divider-style) var(--divider-color-dark);
  --divider-light: var(--divider-size) var(--divider-style) var(--divider-color-light);
  --divider-dark: var(--divider-size) var(--divider-style) var(--divider-color-dark);
}
:root {
  --transition-duration: 0.3s;
  --transition-timing: ease-in-out;
  --transition-delay: 0s;
  --transition: background var(--transition-duration) var(--transition-timing) var(--transition-delay), color var(--transition-duration) var(--transition-timing) var(--transition-delay), border var(--transition-duration) var(--transition-timing) var(--transition-delay), translate var(--transition-duration) var(--transition-timing) var(--transition-delay);
}
:root {
  --texture-1-background-color: var(--body-bg-color);
  --texture-1-asset: url(/wp-content/uploads/DFZ_TapeteBackground.jpg);
  --texture-1-asset-is-url: on;
  --texture-1-size: 567px;
  --texture-1-position: center center;
  --texture-1-attachment: fixed;
  --texture-1-repeat: repeat;
  --texture-1-relationship: none;
  --texture-1-overlay-option: off;
  --texture-1-overlay-opacity: 0.8;
  --texture-1-blend-mode: normal;
  --texture-1-animate-texture: off;
  --texture-1-animate-overlay: off;
  --texture-2-background-color: var(--body-bg-color);
  --texture-2-asset: url();
  --texture-2-asset-is-url: on;
  --texture-2-size: 200px;
  --texture-2-position: center center;
  --texture-2-attachment: scroll;
  --texture-2-repeat: repeat;
  --texture-2-relationship: none;
  --texture-2-overlay-option: off;
  --texture-2-overlay-opacity: 0.8;
  --texture-2-blend-mode: normal;
  --texture-2-animate-texture: off;
  --texture-2-animate-overlay: off;
  --texture-3-background-color: var(--body-bg-color);
  --texture-3-asset: url();
  --texture-3-asset-is-url: on;
  --texture-3-size: 200px;
  --texture-3-position: center center;
  --texture-3-attachment: scroll;
  --texture-3-repeat: repeat;
  --texture-3-relationship: none;
  --texture-3-overlay-option: off;
  --texture-3-overlay-opacity: 0.8;
  --texture-3-blend-mode: normal;
  --texture-3-animate-texture: off;
  --texture-3-animate-overlay: off;
  --texture-4-background-color: var(--body-bg-color);
  --texture-4-asset: url();
  --texture-4-asset-is-url: on;
  --texture-4-size: 200px;
  --texture-4-position: center center;
  --texture-4-attachment: scroll;
  --texture-4-repeat: repeat;
  --texture-4-relationship: none;
  --texture-4-overlay-option: off;
  --texture-4-overlay-opacity: 0.8;
  --texture-4-blend-mode: normal;
  --texture-4-animate-texture: off;
  --texture-4-animate-overlay: off;
  --texture-5-background-color: var(--body-bg-color);
  --texture-5-asset: url();
  --texture-5-asset-is-url: on;
  --texture-5-size: 200px;
  --texture-5-position: center center;
  --texture-5-attachment: scroll;
  --texture-5-repeat: repeat;
  --texture-5-relationship: none;
  --texture-5-overlay-option: off;
  --texture-5-overlay-opacity: 0.8;
  --texture-5-blend-mode: normal;
  --texture-5-animate-texture: off;
  --texture-5-animate-overlay: off;
}
